.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.tittle-login{
    text-align: center;
    background-color:#17a2b8;
    color: #ffffff;
    width: 100%;
}
.Back-to-catalog {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.Back-to-catalog-link{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
#form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#inputName {
    margin: 5px;
    width: 325px;
    font-weight: bolder;
    font-size: 18px;
}
  
#inputPassword {
    margin: 5px;
    width: 325px;
    font-size: 18px;
    font-weight: bolder;
}

#buttonsLoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}

#buttonCreateAccount {
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid transparent;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;

}
.buttonLogin {
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid transparent;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
#bad-credentials {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(243, 6, 6);
}

@media(max-width:522px) {
    #buttonsLoginContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }
}